@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@1,500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Mooli", sans-serif;
  box-sizing: border-box;
  background-color: #A6F6FF;
}
header.navbar-container {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  width: 100%;
  margin-inline: auto;
  border-bottom: 2px solid #425c77;
  background-color: #89b0d9;
}

nav.nav-list {
  padding: 0, 5rem;
  display: flex;
  justify-content: space-around;
}
nav.nav-list ul {
  display: flex;
  gap: 5rem 6rem;
  justify-content: center;
  border: 1px;
  border-radius: 10px;
}
header.navbar-container .nav-list li {
  list-style-type: none;
}
header.navbar-container .nav-list li a {
  text-decoration: none;
  border-radius: 50px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  color: #0a0a0a;
}

header.navbar-container .nav-list li:hover a {
  background-color: #425c77;
  color: white;
}
main {
  width: 800px;
  max-width: 1000px;
  margin-inline: 1rem 2rem;
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
}

main .content-detail {
  flex: 1 1;
  justify-content: center;
  align-items: center;
  border: 2px solid #425c77;
  border-radius: 10px;
  background-color: #89b0d9;
  margin-top: 15%;
  margin-left: 20%;
  padding: 1rem;
  padding-left: 1rem;
}

main .content-detail .judul {
  font-size: 3.5rem;
  margin-block: 1rem;
}
main .content-detail article {
  line-height: 1.7rem;
  font-size: 1.2rem;
  max-width: 600px;
  margin-right: 0;
  background-color: #9eddff;
  border-radius: 10px;
  padding: 1.5rem;
  padding-left: 1.5rem;
}
main aside {
  border: 2px solid #425c77;
  border-radius: 20px 0px 0px 20px;
  background-color: #89b0d9;
  justify-content: flex-end;
  margin-top: 1rem;
  position: absolute;
  right: 0;
}

main aside .foto img {
  width: 300px;
  border: 3px solid #425c77;
  border-radius: 10px;
  justify-content: center;
}

main aside .foto {
  padding: 1rem;
  justify-content: center;
  padding-bottom: 5px;
}

.profile{
  display: flex;
  align-items: center;
}

.datadiri ul,
.data ul{
  padding: 1rem;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}

.datadiri li,
.data li{
  list-style-type: none;
}

main aside .social-media {
  height: 100%;
  display: flex;
  padding: 1rem;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #9eddff;
}
main aside .social-media li {
  list-style-type: none;
}
main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(47, 50, 221);
  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: #89b0d9;
}
footer {
  justify-content: center;
  bottom: 0;
  position: absolute;
  display: flex;
  gap: 1rem;
  border-top: 2px solid #425c77;
  margin-top: 1rem;
  background-color: #89b0d9;
  width: 100% ;
}

@media (max-width: 768px) {
  header.navbar-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  nav.nav-list ul {
    gap: 1rem; 
  }

  main {
    width: 90%; 
    margin: 0 auto; 
    padding: 0.5rem;
    flex-direction: column; 
    align-items: center ;
  }

  main .content-detail {
    margin: 5% auto; 
    padding: 0.5rem; 
    justify-content: center;
  }

  main .content-detail .judul {
    font-size: 15px; 
  }

  main .content-detail article {
    font-size: 12px; 
    padding: 1rem; 
  }

  main aside {
    display: flex;
    border: 2px solid #425c77;
    border-radius: 10px;
    flex-direction: column; 
    width: fit-content;
    position: relative;
    justify-content: space-around;
    align-items: center;
  }

  main aside img{
    width: 100px;
    max-width: 200px;
  }

  footer {
    position: fixed;
  }
}
